<div class="form-container">
  <h1>Add City</h1>
      <mat-card >
          <form #studentForm = "ngForm" >
              <div>
                      <mat-form-field >
                          <mat-label>City name</mat-label>
                          <input matInput placeholder="Enter your city name"
                          [(ngModel)]= name
                          name = name
                          required>
                      </mat-form-field>
              </div>
              <button  mat-raised-button (click)="saveCity()"  color="primary">Save City</button>

          </form>
      </mat-card> 
  </div>