<!-- <table mat-table [dataSource]="students" class="mat-elevation-z8">
    Name Column
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element;  let i = index">
        <span>{{element.city}}</span>  
      </td>
    </ng-container>
  
    Temp Column
    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef> Temperature </th>
      <td mat-cell *matCellDef="let element;  let i = index">
        <span>{{element.temperature | number}}</span> 

      </td>
    </ng-container>
  
    Humidity Column
    <ng-container matColumnDef="humidity">
      <th mat-header-cell *matHeaderCellDef> Humidity </th>
      <td mat-cell *matCellDef="let element;  let i = index">
        <span>{{element.humidity}}</span> 
        
      </td>
    </ng-container>
    
       windSpeed Column
       <ng-container matColumnDef="wind">
        <th mat-header-cell *matHeaderCellDef> Wind Speed </th>
        <td mat-cell *matCellDef="let element;  let i = index">{{element.wind}}</td>
      </ng-container>

     

       icon Column
       <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef> Icon </th>
        <td mat-cell *matCellDef="let element;  let i = index">
          <span>{{element.icon}}</span> 
          
        </td>
      </ng-container>
        result Column
        <ng-container matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef> Result </th>
          <td mat-cell *matCellDef="let element">
            <span [ngClass]="[element.result=='Will not drop' ? 'green' : 'red']">{{element.result}}</span>
          </td>
        </ng-container> 
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element">
            <span>{{element.email}}</span>
          </td>
        </ng-container> 

        Get Data Column
        <ng-container matColumnDef="GetData">
          <th mat-header-cell *matHeaderCellDef> Get Data </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button 
              mat-raised-button
              color = 'warn'
              (click)="getDataFun(i, element.name)"
            >
            Get Data
            </button>                    
          </td>
        </ng-container>

        <ng-container matColumnDef="getdata">
          <th mat-header-cell *matHeaderCellDef> Get data</th>
          <td mat-cell *matCellDef="let element, let i = index"><button  *ngIf="!element.temperature" (click)="getDataFun(i, element.name)" mat-raised-button>Get data</button>
          </td>
        </ng-container>







        Predict Column
        <ng-container matColumnDef="predict">
          <th mat-header-cell *matHeaderCellDef> Predict </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button 
              mat-raised-button
              color = 'warn'
              (click)="GetDataClick()"
              [disabled]="able"
            >
            Predict
            </button>                    
          </td>
        </ng-container>
        Delete Column
    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button 
          mat-raised-button
          color = 'warn'
          (click)="deleteStudent(element.sid)"
        >
          Delete
        </button>                    
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
   -->
<h1>Cities Data</h1>
   <table mat-table [dataSource]="cities" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> City name </th>
      <td mat-cell *matCellDef="let element, let i = index"> {{element.name}} </td>
    </ng-container>  
    <ng-container matColumnDef="getdata">
      <th mat-header-cell *matHeaderCellDef> Get data</th>
      <td mat-cell *matCellDef="let element, let i = index"><button  *ngIf="!element.temperature" (click)="getDataFun(i, element.name)" mat-raised-button >Get data</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="predict">
      <th mat-header-cell *matHeaderCellDef> Predict</th>
      <td mat-cell *matCellDef="let element, let i = index"><button (click)="predict(i)" [disabled]="!element.temperature"  mat-raised-button color ="primary">Predict</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="temperature" >
        <th mat-header-cell *matHeaderCellDef> Temperature </th>
        <td mat-cell *matCellDef="let element; let i = index"  >{{element.temperature}} </td>
      </ng-container>

      <ng-container matColumnDef="humidity" >
        <th mat-header-cell *matHeaderCellDef> Humidity </th>
        <td mat-cell *matCellDef="let element; let i = index"  > {{element.humidity}} </td>
      </ng-container>

      <ng-container matColumnDef="result" >
        <th mat-header-cell *matHeaderCellDef> Rain Prediction</th>
        <td mat-cell *matCellDef="let element; let i = index"  > {{element.predict}} </td>
      </ng-container>
      
      <ng-container matColumnDef="windspeed" >
        <th mat-header-cell *matHeaderCellDef> Wind Speed </th>
        <td mat-cell *matCellDef="let element; let i = index"  > {{element.wind}} </td>
      </ng-container>

      <ng-container matColumnDef="image" >
        <th mat-header-cell *matHeaderCellDef> Icon </th>
        <td mat-cell *matCellDef="let element; let i = index" >  <img mat-card-avatar *ngIf ="element.temperature" src={{element.image}} alt="Photo of weather">
        </td>
      </ng-container>

    
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete</th>
        <td mat-cell  *matCellDef="let element, let i = index"> <button (click)="deletecity(element.id)"  mat-raised-button color ="warn">Delete</button> </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>